body {
    background-color: white;
}

div.header{
    position: fixed;
    height: 100px;
    width: 360px;
    background-color: #f0eeed;
    opacity: .90;
    z-index: 3;
}

div.sidehead {
    position: fixed;
    display: block;
    transform: rotate(-90deg);
    float: left;
    width: 50px;
    margin-top: 580px;
    z-index: 1;
}

div#news {
    font-size: 9em;
    position: relative;
    line-height: .1em;
    padding-left: 40px;
    padding-right: 50px;
    letter-spacing: .2em;
    opacity: .07;
    font-family: Assistant;
}

div#music {
    font-size: 8em;
    position: relative;
    line-height: .2em;
    padding-right: 10px;
    opacity: .06;
    letter-spacing: .275em;
    font-family: Assistant;
    /*margin: 10px 20px 10px 20px;*/
}

div#date {
    font-size: 1em;
    position: relative;
    line-height: .7em;
    padding-bottom: 5px;
    font-family: Assistant;
    /*margin: 10px 20px 10px 20px;*/
}

div#logo{
    position: fixed;
    z-index: 2;
}

span#hamburger {
    background: url('/img/hamburger.gif') no-repeat center;
    position: fixed;
    height: 40px;
    width: 40px;
    /*padding-left: 280px;*/
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 300px;
    z-index: 2;
    cursor: pointer;
}

ul#nav {
    margin: 0;
    position: absolute;
    top: 22px;
    left: 180px;
    width: 110px;
    z-index: 3;
}

ul#nav li {
    opacity: 0;
}

ul#nav li:hover{
    display: block;
    background-color: #ffffff;
    opacity: 1;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

ul#nav li a{
    display: block;
    text-decoration: none;
    font-size: 1.9em;
    color: #00264c;
    font-family: Assistant;
}

div#author {
    float: right;
    position: absolute;
    top: 43px;
    margin-left: 120px;
    font-size: 1.4em;
    letter-spacing: .2em;
    z-index: 3;
}

div#author a {
    text-decoration: none;
    color: #b1b1b1;
    font-family: Assistant;
}

div#back {
    display: block;
    position: fixed;
    z-index: 3;
    top: 70px;
    left: 120px;
}

div#back a {
    text-decoration: none;
    color: #00264c;
    font-size: 3em;
    font-family: Advent Pro;
    opacity: .2;
}

div.headline {
    position: relative;
    display: block;
    float: left;
    padding-left: 5px;
}

div.headline a {
    font-size: 1.6em;
    font-family: Oxygen;
    line-height: 1.4em;
    letter-spacing: .02em;
    color: #1f3347;
}

div.content {
    position: relative;
    float: left;
    letter-spacing: .005em;
    padding-left: 40px;
}

div.content a {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family: Quicksand;
    color: #1f3347;
}

div.otherwork {
    position: relative;
    float: left;
    letter-spacing: .05em;
    padding-left: 5px;
    margin-top: 20px;
}

div.otherwork a {
    font-size: 1.3em;
    line-height: 1.4em;
    font-family: Quicksand;
    color: #1f3347;
}

div.titles {
    position: relative;
    float: left;
    letter-spacing: .05em;
    padding-left: 40px;
    width: 200px;
}

div.titles a {
    font-size: 1.3em;
    line-height: 1.4em;
    font-family: Quicksand;
    color: #1f3347;
}

div.image {
    position: relative;
    padding-left: 5px;
    padding-top: 50px;
}

div.social {
    padding-top: 100px;
}